@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap");
.botonera {
  background-color: #e09bb9; }
  .botonera .nav-item {
    margin: 0 10px;
    border-radius: 20px;
    font-size: 1em;
    background-color: #D0F9F3; }
  .botonera input {
    border-radius: 5px;
    font-size: 1em; }
  .botonera .btn {
    background-color: #e9cfda;
    border-color: #D0F9F3;
    color: black; }
    .botonera .btn:hover {
      background-color: #D0F9F3;
      color: black; }

main .carousel {
  z-index: -1; }

footer {
  background-color: #e09bb9; }

.error-content {
  display: flex;
  flex-direction: row;
  margin: 100px 200px; }
  .error-content .error-imagen {
    width: 50%; }
  .error-content .error-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .error-content .error-text a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #e09bb9;
    padding: 10px 30px;
    width: fit-content;
    border-radius: 20px;
    display: block;
    margin: 0 auto; }
    .error-content .error-text a:hover {
      background-color: #e9cfda; }
