@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
nav {
  z-index: 9999;
  padding: 10px 20px; }
  nav .logo a img {
    width: 100px;
    height: 100px; }
  nav .navbar-collapse {
    background-color: #a6898623;
    text-align: center; }
  nav .dropdown-menu {
    background-color: #f2eceb28 !important;
    text-align: center; }
    @media (min-width: 992px) {
      nav .dropdown-menu {
        background-color: #F2ECEB !important; } }
    nav .dropdown-menu a {
      color: #58382b; }
  nav .search-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px; }
    nav .search-container .search-btn {
      position: relative;
      padding: 5px; }
      nav .search-container .search-btn:hover input {
        width: 240px; }
      nav .search-container .search-btn input {
        width: 0px;
        height: 35px;
        padding: 0 15px;
        outline: none;
        border: 1px solid #58382b;
        color: #58382b;
        border-radius: 30px;
        transition: all 0.6s ease; }
        nav .search-container .search-btn input:focus {
          width: 240px; }
      nav .search-container .search-btn button {
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 44px;
        background-color: #58382b;
        border: 1px solid #58382b;
        border-radius: 30px;
        outline: none;
        cursor: pointer; }
        nav .search-container .search-btn button .search-icon {
          fill: white;
          width: 25px;
          height: 25px; }
  @media (min-width: 992px) {
    nav .logo a img {
      width: 120px;
      height: 120px; }
    nav .navbar-collapse {
      background-color: transparent;
      width: 100%;
      display: flex;
      justify-content: space-between; }
      nav .navbar-collapse .navbar-nav {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto; } }

body {
  background: #aac8f9;
  background: linear-gradient(90deg, #aac8f9 0%, #f2c4c8 50%, #ff8888 100%);
  font-family: "Montserrat", sans-serif !important; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p {
    margin-bottom: 0; }

.hero {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse; }
  .hero .img {
    margin: 0 auto; }
    .hero .img img {
      max-height: 40vh;
      max-width: 100%; }
  .hero h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #58382b;
    text-align: center;
    padding: 10px 0; }
  .hero p {
    font-size: 20px;
    font-weight: 400;
    color: #58382b;
    text-align: center;
    padding: 10px 0; }
  .hero a {
    padding: 5px;
    border: 1px solid #58382b;
    border-radius: 55px;
    color: #58382b;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 60%;
    cursor: pointer;
    transition: all 1s linear; }
    .hero a:hover {
      color: white;
      background-color: #58382b; }
  @media (min-width: 520px) {
    .hero .content h1 {
      font-size: 35px; } }
  @media (min-width: 992px) {
    .hero {
      flex-direction: row; }
      .hero .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%; }
      .hero h1 {
        font-size: 50px; }
      .hero a {
        width: 30%; }
      .hero .img {
        margin: 0 auto; }
        .hero .img img {
          max-height: 70vh; } }

.all-categories {
  margin: 40px 0;
  text-align: center; }
  .all-categories h3 {
    font-weight: 700;
    color: #58382b;
    padding: 10px 0; }
  .all-categories p {
    color: #58382b;
    padding: 10px 0; }

.categories .category {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 3/2;
  position: relative;
  margin: 20px 0;
  cursor: pointer; }
  .categories .category:hover img {
    -webkit-filter: brightness(70%);
    filter: brightness(70%); }
  .categories .category h4 {
    font-weight: 700;
    font-size: 50px;
    color: #F2ECEB; }
  .categories .category img {
    position: absolute;
    min-width: 100%;
    max-height: 100%;
    z-index: -1;
    object-fit: cover;
    -webkit-filter: brightness(40%);
    filter: brightness(40%); }

@media (min-width: 720px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'pasteles pasteles' 'cupcakes bocaditos'; }
    .categories .category {
      height: 250px;
      width: 100%;
      margin: 0;
      overflow: hidden; }
      .categories .category h4 {
        font-size: 40px; }
    .categories .pasteles {
      grid-area: pasteles; }
    .categories .cupcakes {
      grid-area: cupcakes; }
    .categories .bocaditos {
      grid-area: bocaditos; } }

.hero-section {
  position: relative;
  height: 30vh;
  min-height: 200px; }
  .hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
    position: absolute;
    z-index: -1; }
  .hero-section .content-hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .hero-section .content-hero h1 {
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 900;
      color: #F2ECEB;
      text-align: center;
      padding: 10px 0;
      letter-spacing: 3px; }
    .hero-section .content-hero p {
      font-size: 20px;
      font-weight: 400;
      color: #F2ECEB;
      text-align: center;
      padding: 10px 0; }
  @media (min-width: 520px) {
    .hero-section {
      height: 40vh; } }
  @media (min-width: 992px) {
    .hero-section {
      flex-direction: row; }
      .hero-section .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%; }
      .hero-section h1 {
        font-size: 50px; }
      .hero-section a {
        width: 30%; }
      .hero-section .img {
        margin: 0 auto; }
        .hero-section .img img {
          max-height: 70vh; } }

.locales .locales-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 1200px;
  margin: 15px auto; }
  .locales .locales-grid .content-local {
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 15px 30px;
    background-color: #F2ECEB;
    padding: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px; }
    .locales .locales-grid .content-local iframe {
      width: 250px;
      height: 250px; }
    .locales .locales-grid .content-local h3 {
      text-align: center;
      font-weight: bold;
      color: #58382b; }
    .locales .locales-grid .content-local p {
      color: #58382b; }
  @media (min-width: 660px) {
    .locales .locales-grid {
      grid-template-columns: repeat(2, 1fr); } }

.nosotros {
  display: flex;
  flex-direction: column-reverse; }
  .nosotros .nosotros-img {
    width: 100%; }
  .nosotros .nosotros-txt {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 25px auto;
    padding: 10px;
    background-color: #F2ECEB;
    text-align: center;
    color: #58382b; }
    .nosotros .nosotros-txt p {
      text-align: justify; }
  @media (min-width: 620px) {
    .nosotros {
      flex-direction: row;
      margin: 20px 0;
      height: 500px; }
      .nosotros .nosotros-img {
        width: 50%;
        height: 100%; }
        .nosotros .nosotros-img img {
          object-fit: cover;
          height: 100%; }
      .nosotros .nosotros-txt {
        width: 50%;
        margin: 0;
        padding: 0 30px; } }

.productos-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 10px;
  row-gap: 40px; }
  @media (min-width: 420px) {
    .productos-grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 720px) {
    .productos-grid {
      grid-template-columns: repeat(3, 1fr); } }
  @media (min-width: 920px) {
    .productos-grid {
      grid-template-columns: repeat(4, 1fr); } }
  .productos-grid .card {
    width: 75% !important; }
    .productos-grid .card img {
      padding: 2rem !important; }
    .productos-grid .card .card-body {
      text-align: center; }
      .productos-grid .card .card-body h5 {
        color: #58382b;
        font-weight: bold; }
      .productos-grid .card .card-body p {
        color: #58382b; }
      .productos-grid .card .card-body a {
        background-color: #58382b;
        color: #F2ECEB; }

.contacto-form {
  width: 60%;
  margin: 30px auto; }

.error-content {
  display: flex; }
  .error-content .error-imagen {
    width: 50%; }
    .error-content .error-imagen img {
      display: block;
      margin: 0 auto; }
  .error-content .error-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-content: center;
    margin-left: 40px;
    margin-right: 80px;
    text-align: center;
    color: #58382b; }
    .error-content .error-text a {
      background-color: #58382b;
      color: #F2ECEB;
      padding: 5px 10px;
      border-radius: 20px;
      width: 100px;
      text-decoration: none;
      text-align: center;
      align-self: center; }

footer {
  background-color: #58382b;
  color: white; }
  footer .social-media {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    border-bottom: 1px solid white;
    text-align: center; }
    footer .social-media .text {
      margin-right: 5rem;
      display: none; }
    footer .social-media .iconos {
      width: 30%;
      display: flex;
      justify-content: space-between; }
      footer .social-media .iconos a {
        text-decoration: none; }
        footer .social-media .iconos a img {
          width: 70px;
          padding: 0.5rem; }
    @media (min-width: 992px) {
      footer .social-media {
        justify-content: space-between; }
        footer .social-media .text {
          display: block; }
        footer .social-media .iconos {
          justify-content: center; } }
  footer .links .container {
    text-align: center;
    margin-top: 3rem; }
    footer .links .container .logo {
      background-color: white;
      border-radius: 100%; }
