//variables

//colores
$mainColor:#58382b;
$secondaryColor:#F2ECEB;
$keyColor:#F2C4C8;
//mainColor with transparency
$w-transparency: #a6898623;
//secondaryColor with transparency
$s-transparency: #f2eceb28;

$w-100:100%;
$w-50:50%;