.error-content{
    display: flex;
    flex-direction: row;
    margin:100px 200px ;
    .error-imagen{
    width: 50%;
    }
    .error-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .error-text a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        background-color: $mainColor;
        padding: 10px 30px;
        width: fit-content;
        border-radius: 20px;
        display: block;
        margin: 0 auto;
        &:hover{
            background-color: $keyColor;
        }
        }
}
