body{
    background: rgb(170,200,249);
    background: linear-gradient(90deg, rgba(170,200,249,1) 0%, rgba(242,196,200,1) 50%, rgba(255,136,136,1) 100%);
    font-family: $fontMain!important;
    }
.hero{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    .img{
        margin: 0 auto;
        img{
            max-height: 40vh;
            max-width: 100%;
        }
    }
    h1{
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 900;
        color: $mainColor;
        text-align: center;
        padding: 10px 0;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        color: $mainColor;
        text-align: center;
        padding: 10px 0;
    }
    a{

        padding: 5px;
        border: 1px solid $mainColor;
        border-radius: 55px;
        color: $mainColor;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 60%;
        cursor: pointer;
        transition: all 1s linear;
        &:hover{
            color: white;
            background-color: $mainColor;
        }
    }
    @media (min-width: 520px){
        .content{
            h1{
                font-size: 35px;
            }
        }
    }
    @media (min-width: 992px){
        flex-direction: row;
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }
        h1{
            font-size: 50px;
        }
        a{
            width: 30%;
        }
        .img{
            margin: 0 auto;
            img{
                max-height: 70vh
            }
        }
    }
}

.all-categories{
    margin: 40px 0;
    text-align: center;
    h3{
        font-weight: 700;
        color: $mainColor;
        padding: 10px 0;
    }
    p{
        color: $mainColor;
        padding: 10px 0;
    }
}

.categories{
    
    
    .category{
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 3/2;
        position: relative;
        margin: 20px 0;
        cursor: pointer;
        &:hover img{
            -webkit-filter: brightness(70%);
            filter: brightness(70%);
        }
        h4{
            font-weight: 700;
            font-size: 50px;
            color: $secondaryColor;
        }
        img{
            position: absolute;
            min-width: 100%;
            max-height: 100%;
            z-index: -1;
            object-fit: cover;
            -webkit-filter: brightness(40%);
            filter: brightness(40%);
        }
    }
    
    @media (min-width: 720px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'pasteles pasteles' 'cupcakes bocaditos';
        .category{
            height: 250px;
            width: 100%;
            margin: 0;
            overflow: hidden;
            h4{
              font-size: 40px;  
            }
            
        }
        
        .pasteles {
            grid-area: pasteles;
        }
        
        .cupcakes {
            grid-area: cupcakes;
        }
        
        .bocaditos {
            grid-area: bocaditos;
        }
        }
}
