@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$fontMain:'Montserrat', sans-serif;
$fontSecondary:'Poppins', sans-serif;

//variable para los textos
$textXl:4em;
$textLg:3em;
$textMd:2em;
$textSm:1em;