@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

$fonrMain:'Montserrat', sans-serif;
$fonrSecondary:'Roboto', sans-serif;

//variable para los textos
$textXl:4em;
$textLg:3em;
$textMd:2em;
$textSm:1em;